.Pokecard{
    display: inline-block;
    width: 7rem;
    background-color: lightgray;
    border-radius: 12px;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
}

.Pokecard-title{
    font-weight: bolder;
    color: darkblue;
}

.Pokecard-data{
    font-size: 75%;
}